<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        <!-- Add this line for the base tag -->
        <base href="{{ asset('') }}">

        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.0/flowbite.min.js"></script>
         <!-- TailwindCSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        
        <!-- Flowbite -->
        <link href="https://unpkg.com/flowbite@1.5.0/dist/flowbite.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>


    <!-- Sidebar -->
    <div class="flex">
        <div class="w-64 h-screen bg-gray-800 text-white">

        <!-- Mobile Sidebar Toggle Button -->
        <button id="sidebar-toggle" class="sm:hidden p-2 bg-gray-800 text-white rounded-md">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
            <!-- Sidebar content -->
            <div class="flex items-center justify-center p-5">
                <a href="{{ path('weather_index') }}" class="text-2xl font-bold text-white">Weather App</a>
            </div>
            <div class="space-y-4">
                <a href="{{ path('weather_index') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block py-2 px-4 rounded-md text-sm">Home</a>
                <a href="{{ path('calculation_overview') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block py-2 px-4 rounded-md text-sm">Calculation Manager</a>
                <a href="{{ path('weather_test') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block py-2 px-4 rounded-md text-sm">Test</a>
            </div>
        </div>

        <body>
            {% block body %}{% endblock %}
        </body>
    </div>


    

    <!-- Sidebar Mobile Toggle Script -->
    <script>
        const sidebar = document.querySelector('.w-64');
        const sidebarToggle = document.getElementById('sidebar-toggle');
        
        sidebarToggle.addEventListener('click', () => {
            sidebar.classList.toggle('hidden');
        });
    </script>
</html>
